.modalLoad {
  align-items: center;
  align-self: center;
  border: var(--color-default-dark);
  border-radius: var(--radius);
  background: var(--color-default-light);
  display: flex;
  justify-content: center;
  justify-self: center;
  flex-flow: row wrap;
  padding: 0 2rem;
  width: 80%;
}

.modalLoad > input,
.modalLoad > select {
  flex: 0 0 100%;
  text-align: center;
}

.modalLoad > label {
  font-family: Helvetica;
  margin: var(--space-margin);
}