/* Fundations
---------------------------------------------------------------------*/
:root {
  --color-default-dark: #31352E;
  --color-default-light: #EBEBE8;
  --color-secondary: #D1E2C4;
  --color-primary: #778A35;

  --font-header-regular: 25px;
  --font-header-big: 30px;

  --font-size-small: 12px;
  --font-size-regular: 16px;
  --font-size-big: 20px;
  --font-size-large: 10rem;

  --type-common: Helvetica, Arial, sans-serif;

  --radius: 10px;
  --radius-circle: 25px;

  --space-margin: 10px;
  --space-padding: 5px;

}

/* Defaults
---------------------------------------------------------------------*/
*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Layout
---------------------------------------------------------------------*/

body {
  background: var(--color-default-light);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 2fr 1fr auto;
  grid-template-areas: 
  "header"
  "board"
  "controlers"
  "footer"
  ;
  height: 100vh;
}

.header {
  grid-area: header;
}

.board {
  grid-area: board;
}

.controlers {
  grid-area: controlers;
}

.footer {
  grid-area: footer;
}

/* Generics
---------------------------------------------------------------------*/

.button {
  background: var(--color-secondary);
  border: 1px solid var(--color-primary);
  border-radius: var(--radius);
  color: var(--color-primary);
  display: block;
  font-family: var(--type-common);
  font-size: var(--font-size-regular);
  margin: var(--space-margin);
  outline: none;
  padding: var(--space-padding);
}

.button:hover {
  background: var(--color-default-dark);
  color: var(--color-default-light);
}

.button:active {
  box-shadow: 0 0 2px var(--color-default-dark),
        inset 0 0 2px var(--color-default-light);
}

.circle-button {
  border-radius: var(--radius-circle);
  height: calc( 2* var(--radius-circle) );
  width: calc( 2 * var(--radius-circle) );
}

.link {
  color: var(--color-primary);
  font-size: var(--font-size-small);
  font-family: var(--type-common);
  text-decoration: none;
}

.link:hover {
  box-shadow: 0 0 0 red;
  color: var(--color-default-dark);
}

.link:hover > .icon {
  transform: scale(1.5);
}

.icon {
  display: inline-block;
  height: var(--font-size-small);
  width: var(--font-size-small);
}

.list-item {
  display: block;
  list-style: none;
  margin: var(--space-margin);
}

/* Header
---------------------------------------------------------------------*/

.header {
  background: var(--color-primary);
}

.toolbar {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
}

.toolbar > * {
  flex: 1 0 auto;
}

/* Board
---------------------------------------------------------------------*/

.board {
  color: var(--color-default-dark);
  display: block;
  font-size: var(--font-size-large);
  font-family: var(--type-common);
  text-align: center;
}

/* Controlers
---------------------------------------------------------------------*/

.controlers {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.controlers > * {
  flex: 0 0 auto;
}

.controlers > .negative {
  flex: 1 0 100%;
}

.negative {
  font-size: var(--font-size-small);
  text-align: center;
}

/* Footer
---------------------------------------------------------------------*/

.footer {
  background: var(--color-secondary);
}

.social-network {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}